#board-div{
    border: 2px solid black;
    display: inline-block;
}

#board-container{
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: 50px 50px 50px 50px; 
}

li{
    list-style-type: none;
    font-size: 30px;
    font-weight: bold;
}

body{
    background-color: aqua;
}